@font-face {
    font-family: Roboto;
    src: local('RobotoRegular'), local('RobotoRegular'),
        url(../Roboto/Roboto-Regular.ttf);
    font-weight: Normal;
}

@font-face {
    font-family: Roboto;
    src: local('RobotoMedium'), local('RobotoMedium'),
        url(../Roboto/Roboto-Medium.ttf);
    font-weight: Medium;
}

@font-face {
    font-family: Roboto;
    src: local('RobotoBold'), local('RobotoBold'),
        url(../Roboto/Roboto-Bold.ttf);
    font-weight: Bold;
}

@font-face {
    font-family: Roboto;
    src: local('RobotoBlack'), local('RobotoBlack'),
        url(../Roboto/Roboto-Black.ttf);
    font-weight: Black;
}
