.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.clients-item {
    height: 92px;
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 6 - 30px);
        margin-bottom: 0;
    }
}

.clients-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--our-team-sicoal-icon);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms var(--transition-timing);

    &:hover,
    &:focus {
        border-color: var(--links-hover-color);
    }
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: var(--our-team-sicoal-icon);
    transition: fill 250ms var(--transition-timing);

    .clients-link:hover &,
    .clients-link:focus & {
        fill: var(--links-hover-color);
    }
}
