.features {
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.features-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -29px;
    }
}

.features-item {
    margin-bottom: 30px;

    @media screen and(min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.features-item .features-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-item-icon-wrap {
    display: flex;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--third-background-color);
}

.features-item-icon {
    width: 70px;
    height: 70px;
    fill: var(--primery-title-color);
}

.features-title {
    text-align: center;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features-text {
    line-height: 1.71;
    color: var(--primery-text-color);
}
