.current,
.footer-address-link:hover,
.footer-address-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--links-hover-color);
}

.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    background-color: var(--links-hover-color);
}
