.modal-btn {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: inherit;
}

.modal-close {
    width: 18px;
    height: 18px;
    -webkit-fill: red;
    fill: red;
    &:hover {
        fill: var(--links-hover-color);
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }
}

.modal-form-label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
}

.modal-form-label-message {
    margin-bottom: 20px;
}

.form-input-wrap {
    display: block;
    position: relative;
    margin-top: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    caret-color: var(--links-hover-color);
    transition: border-color 250ms var(--transition-timing);

    .form-input-wrap:hover & {
        border-color: var(--links-hover-color);
    }

    &:focus {
        outline: none;
        border-color: var(--links-hover-color);
    }
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    fill: var(--primery-title-color);
    transition: fill 250ms var(--transition-timing);

    .form-input-wrap:hover & {
        fill: var(--links-hover-color);
    }
    .modal-form-input:focus + & {
        fill: var(--links-hover-color);
    }
}

.modal-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    caret-color: var(--links-hover-color);
    transition: border-color 250ms var(--transition-timing);

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:hover,
    &:focus {
        outline: none;
        border-color: var(--links-hover-color);
    }
}

.modal-form-button {
    align-self: center;
    min-width: 200px;
    min-height: 50px;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--first-background-color);
    background-color: var(--links-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--transition-timing);

    &:hover,
    &:focus {
        background: var(--button-hover-color);
    }
}

.modal-form-checkbox-label {
    position: relative;
    padding-left: 24px;
    @media screen and (min-width: 1200px) {
        padding-left: 0;
    }

    &::before {
        position: absolute;
        top: 2px;
        left: 0;
        display: block;
        content: '';
        width: 16px;
        height: 15px;
        margin-right: 7px;
        cursor: pointer;
        border: 2px solid var(--primery-title-color);
        border-radius: 2px;
        // transform: translateY(-50%);
        transition: border-color 250ms var(--transition-timing);
        @media screen and(min-width: 480px) {
            top: 0;
        }
        @media screen and(min-width: 1200px) {
            position: static;
        }
    }

    &:hover::before {
        border-color: var(--links-hover-color);
    }

    .modal-check-box:focus + &::before {
        border-color: var(--links-hover-color);
    }

    .modal-check-box:checked + &::before {
        border: none;
        background-image: url(../img/check.svg);
    }
    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primery-text-color);
        cursor: pointer;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.modal-form-link {
    text-decoration-line: underline;
    color: var(--links-hover-color);
    @media screen and(min-width:480px) {
        margin-left: 5px;
    }
}
